* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-style {
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  margin: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

[class^=col] {
  float: left;
}

img {
  width: 100%;
}

@media screen and (max-width:600px) {
  .bg-landscape {
    background-image: url(../assets/img/dawn.png);
    position: fixed;
    width: 100%;
  }

  .col-8 {
    width: 66.66666667%;
  }
  
  
  .col-2 {
    width: 16.66666667%;
  }
  
  [class^=col] {
    padding: 30px;
    margin-top: 130%;
  }
}

@media (min-width:600px) and (max-width:1200px) {
  .bg-landscape {
    background-image: url(../assets/img/night.jpg);
    position: fixed;
    width: 100%;
  }

  .cat-img {
    content: url(../assets/img/kitten-small.png);
  }

  .col-10 {
    width: 83.33333333%;
  }

  .col-1 {
    width: 8.33333333%;
  }

  [class^=col] {
    float: left;
    padding-top: 60%;
  }
}

@media screen and (min-width:1200px) {
  .bg-landscape {
    background-image: url(../assets/img/sunny-day.jpg);
    position: fixed;
    width: 100%;
  }

  .cat-img {
    content: url(../assets/img/kitten-medium.png);
  }

  .col-6 {
    width: 50%;
  }

  .col-3 {
    width: 25%;
  }

  [class^=col] {
    float: left;
    padding-top: 17%;
  }
}

