* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-style {
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  margin: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  align-content: center;
}

[class^=col] {
  float: left;
  position: fixed;
  bottom: 0;
}

img {
  width: 100%;
}

@media (max-width:600px) {
  .bg-landscape {
    background-image: url(../assets/img/dawn.png);
  }

  .col-8 {
    width: 66.66666667%;
  }
  
  
  .col-2 {
    width: 16.66666667%;
  }

  [class^=col] {
    margin: 0px 16.66666667%;
  }
}

@media (min-width:600px) and (max-width:1200px) {
  .bg-landscape {
    background-image: url(../assets/img/night.jpg);
  }

  .cat-img {
    content: url(../assets/img/kitten-small.png);
  }

  .col-10 {
    width: 83.33333333%;
  }

  .col-1 {
    width: 8.33333333%;
  }

  [class^=col] {
    margin: 0px 8.33333333%;
  }

}

@media (min-width: 1200px) {
  .bg-landscape {
    background-image: url(../assets/img/sunny-day.jpg);
  }

  .cat-img {
    content: url(../assets/img/kitten-medium.png);
    
  }

  .col-6 {
    width: 50%;

  }

  .col-3 {
    width: 25%;
  }

  [class^=col] {
    margin: 0px 25%;
  }

}

